/**
 * header.scss
 * Styles for page header
 */

.header {
  @include page-container();
  text-align: center;

  &__title {
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
    margin: 0.65em 0 0.5em;
  }
}
