/**
 * mixins.scss
 * File where all mixins are defined
 */

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin page-container() {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0 1.5em;
  position: relative;
  width: 100vw;
}
