/**
 * typeahead.scss
 * Styles for the main typeahead
 */

.typeahead {
  margin: 0 auto 1em auto;
  position: relative;
  width: 50%;

  &__input {
    box-sizing: border-box;
    border: 1px solid #dedbd3;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 0.85em;
    margin: 0 auto;
    padding: 0.85em;
    width: 100%;
  }

  &__results {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    font-size: 0.85em;
    position: absolute;
    z-index: 9999;
    width: 100%;
  }

  &__result {
    background: #fff;
    border: 1px solid #dedbd3;
    border-top: 0;
    cursor: pointer;
    padding: 0.85em;

    &:focus,
    &:hover {
      background: #f4f3f1;
    }

    &--highlighted {
      background: #e8f7fc !important;
      border-color: #bce7f6;
    }
  }
}
