/**
 * typeahead.scss
 * Styles for the main typeahead
 */

.typeahead {
  position: relative;

  &__input {
    box-sizing: border-box;
    display: block;
    padding: 8px;
    width: 100%;
  }

  &__results {
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 9999;
  }

  &__result {
    background: $typeahead-result-background;
    border: 1px solid $typeahead-result-background-darker;
    border-top: 0;
    cursor: pointer;
    padding: 12px;

    &:hover {
      background: $typeahead-result-background-darker;
    }
  }
}
