/**
 * variables.scss
 * File where all variables are defined
 */

// https://davidwalsh.name/sass-color-variables-dont-suck
// http://thesassway.com/beginner/variable-naming
// https://webdesign.tutsplus.com/articles/quick-tip-name-your-sass-variables-modularly--webdesign-13364

$background: #f0efec;

$footer-border: 1px solid #fff;
$footer-color: #000;

$typeahead-background: #fff;
$typeahead-result-background: #fff;
$typeahead-result-background-darker: #f4f3f1;
